{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron" style="background-color:rgba(0, 0, 0, 0);">
    <center><h1>MusicHall</h1></center>
</div>

<div class="row">
    
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Customize your music.
            Select your favourite artist, genre, country/language, 
            we'll give you top 25 songs from each category
            and with just one click you can create a youtube playlist and start playing those songs. 
        </p>
        <p><a class="btn btn-default" href="/user/">Music Page &raquo;</a></p>
    </div>
</div>

{% endblock %}
