{% if suggs %}
<ul class="list-group scrollable">
{% for s in suggs %}
    <li class="list-group-item list-group-item-info">
        <button onclick="addSong('{{s.youtubeId}}')" type="button" style="float:right" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
        <h4 class="list-group-item-heading">{{s.songName}}</h4>
        <p class="list-group-item-text">{{s.artistId.artistName}}</p>
    </li>
{% endfor %}
</ul>
{% endif %}